body {
    font-family: "Noto Sans JP", Arial, Helvetica, sans-serif;
}

body,
h1,
p {
    margin: 0;
}

.header {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.header__heading {
    display: flex;
    align-items: center;
}

.header__icon {
    border-radius: 50%;
    margin-right: 8px;
}

/* works */
.works {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 24px;
}

.work + .work {
    margin-top: 8px;
}

.work__image {
    width: 100%;
}

.work__heading {
    display: flex;
    align-items: flex-start;
    padding: 8px;
    padding-top: 0;
}

.work__icon {
    margin-right: 8px;
}

.work__titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work__title {
}

/* footer */
.footer {
    margin-top: 40px;
    text-align: center;
}